.Board {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  display: flex;
  justify-content: center;

  margin: 2rem;
  padding: 5px;

  position: relative;
}

.Board__title {
  width: 50px;
  position: relative;
}

.title__text {
  position: absolute;
  display: block;

  text-orientation: upright;
  writing-mode: vertical-lr;

  font-size: 2rem;
}

.squares {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 300px;
  width: 300px;

  border: 1px solid black;
}

.square {
  height: 10%;
  width: 10%;

  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.square--hit::after {
  content: '';
  z-index: 1;

  border-radius: 100%;
  background-color: grey;
  height: 12px;
  width: 12px;
}

.ship {
  background-color: navy;
}
